<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to file sharing heaven!</h1>
    <p>
      <%= @share.recipient_email %> was on your file sharing page!
    </p>

    <p>Thanks for using File Share Tool and have a great day!</p>
  </body>
</html>