<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to file sharing heaven!</h1>
    <p>
      <%= @share.email %> has shared a file with you!

      please go to http://file-share-test.herokuapp.com/shares/<%= @share.id %> to download your file!!
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>